:root {
    --text-color: #E7F6F2;
    --outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
    background-color: #2C3333;
}

#paragraph {
    width: 60%;
    margin: 5ch auto;
    background-color: #395b64aa;
    border-style: solid;
    border-width: .2ch;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#paragraph h3, h2 {
    color: var(--text-color);
    text-shadow: var(--outline);
    vertical-align: middle;
    display: inline;

}

#paragraph p, a {
    color: var(--text-color);
    text-shadow: var(--outline);
}

#paragraph ul li {
    font-size: 2.5ch;
    display: block;
    color: var(--text-color);
    text-shadow: var(--outline);
}

#paragraph ul li::before {
    content: "•";
    color: var(--text-color);
    text-shadow: var(--outline);
    display: inline-block;
    width: .5em;
    margin-left: -1em
}