:root {
    --text-color: #f2f2f2;
    --bg-pattern-color1: #6965a9;
    --bg-pattern-color2: #655bb4;
    --bg-pattern-color3: #4a5785;
}

@font-face {
    font-family: "Painting With Chocolate";
    src: url("fonts/Painting_With_Chocolate.ttf");
}

@font-face {
    font-family: "Library Three AM";
    src: url("fonts/Library\ 3\ am.otf");
}

@font-face {
    font-family: "Mouse Memoirs";
    src: url("fonts/MouseMemoirs-Regular.ttf");
}

#box::before {
    background-image: linear-gradient(135deg, var(--bg-pattern-color1) 25%, transparent 25%), linear-gradient(225deg, var(--bg-pattern-color3) 25%, transparent 25%), linear-gradient(45deg, var(--bg-pattern-color1) 25%, transparent 25%), linear-gradient(315deg, var(--bg-pattern-color3) 25%, var(--bg-pattern-color2) 25%);
    background-size: 70px 70px;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#paragraph {
    position: relative;
    width: 60%;
    margin: 5ch auto;
    background-color: #0000005b;
    border-style: solid;
    border-width: .2ch;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }

#paragraph p {
    font-size: 3ch;
    color: var(--text-color);
    vertical-align: middle;
    display: inline;

}

#paragraph a {
    /* brighter than --text-color */
    color: #ffffff;

}
