:root {
    --text-color: #f2f2f2;
    --bg-rhombus-color1: #940016;
    --bg-rhombus-color2: #000000;
}

@font-face {
    font-family: "Painting With Chocolate";
    src: url("fonts/Painting_With_Chocolate.ttf");
}

@font-face {
    font-family: "Library Three AM";
    src: url("fonts/Library\ 3\ am.otf");
}

body {
    background-image: linear-gradient(135deg, var(--bg-rhombus-color1) 25%, transparent 25%), linear-gradient(225deg, var(--bg-rhombus-color1) 25%, transparent 25%), linear-gradient(45deg, var(--bg-rhombus-color1) 25%, transparent 25%), linear-gradient(315deg, var(--bg-rhombus-color1) 25%, var(--bg-rhombus-color2) 25%);
    background-position: 20px 0, 20px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

#box {
    width: 60%;
    margin: 5ch auto;
    background-color: #51515145;
    border-style: solid;
    border-color: #2424248e;
    border-width: 1ch;
    font-family: "Library Three AM";
}

#paragraph p {
    font-size: 3ch;
    color: var(--text-color);
    vertical-align: middle;
    display: inline;

}

#paragraph a {
    color: #ffffff;
    font-weight: bold;
}